
<link rel="stylesheet" href="./styles/other.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<div class="bookNow"> 
<h1>Book Now</h1>

<form class="apptSet" action="index.html" method="post">
  <h1>Welcome {{customer.firstname}}</h1>
    <form>

        We will be sending you a confirmation to:<br> {{customer.email}}<br>
        Your phone on file is :<br> {{customer.phone}}<br>
        Date:<br><input type="date" name="dayAppt"><br>
        Time:<br><input type="time" name="hourAppt">
        <br><br>
        <button class="btn-primary">Submit</button>
        <button class="btn-danger">Clear</button>
    </form>

</form>
</div>