<div class="contact" id="contact">
  <div class="title">
    <h1 >Contact Us<br> ___</h1>
  </div>
  <div class="cell_row_info">

    <div class="info">
        <div class="address_phone">
          <br><p><strong>Barbiere:</strong><br>341 west Pierpont Ave #2<br>Salt Lake City, UT 84101<br>
          <p><strong>Phone:</strong>(385) 240-5104<br>
          <strong>Hours:</strong> M-F 8:00 am - 5:00 pm</p>
        </div>
    </div>

    <div class="map">
      <!--this where a applet for the MAP Should go-->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.9180541541436!2d-111.90329804903615!3d40.7638270422787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f503b1bfc2e3%3A0x3254b91de6b0f577!2sBarbiere+Barbershop!5e0!3m2!1sen!2sus!4v1461371551292" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>

  </div>
</div>
