
<div class="loginForm">
  <h1>Log in</h1>
    <form class="loginForm" action="index.html" method="post">
      <p>Username: <input type="text" name="username" ng-model="cust.username"></p>
      <p>Password: <input type="password" name="password" ng-model="cust.password"></p>
      <button type="button" ng-click = "loginAccess(cust)" class="btn-primary">Log In</button>
      <button type="button" ui-sref='register' class="btn-info">Register </button>
    </form>

    <h2>WELCOME {{customer.firstname}}</h2>
</div>


