<div class="apptNewCust" >

<h1>Register</h1>


    <h1>Welcome New Customer</h1>
    <form class="regForm">
        <table>
            <tr>
                <td> First Name:  </td>
                <td> <input type="text" ng-model="cust.firstName">  </td>
            </tr>
            <tr>
                <td> Last Name:   </td>
                <td> <input type="text" ng-model="cust.lastName"></td>
            </tr>
            <tr>
                <td> Email:  </td>
                <td><input type="text" ng-model="cust.email"> </td>
            </tr>
            <tr>
                <td> Phone:   </td>
                <td> <input type="text" ng-model="cust.phone">  </td>
            </tr>
            <tr>
                <td> Username:  </td>
                <td><input type="text" ng-model="cust.user">     </td>
            </tr>
            <tr>
                <td> Password:  </td>
                <td> <input type="text" ng-model="cust.pass"></td>
            </tr>

        </table>
         <br>
        
         
        
        
        <br>
        <div class="refFormButton">
            <button ng-click='registerCust(cust)' class="btn-primary">Submit</button>
            <button ng-click='clearFields()' class ="btn-danger">Clear</button>
        </div>
    </form>
</div>
