*{

}

body {
  background-color: gray;

}

ul {
  display:flex;
  flex-direction: row;
}

li {
  color:gray;
  text-decoration: none;
  list-style: none;
}

strong{
  color:black;
}

/***********CLASSES**********/
/***********CLASSES**********/

.mainWrapper {
  background-color: black;

  display: flex;
  flex-direction:column;
  align-items: space-between;

}

.header{
  flex:1;
  color: white;
  display: flex;
  flex-direction: row;
}

.nav{
}

.content{
  background-color: white;
  width:100%;
  height:auto;
}

.bottom-container{
  flex:1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: center;

}
.banner{

  height: 500px;
  display: flex;
  flex-direction: column;
  background: url("https://files.slack.com/files-pri/T039C2PUY-F6CEF2SE9/bigstock-man-getting-trendy-haircut-in--172696487.jpg") ;
  background-size: cover;
  background-position: center;
}

.contact{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color:gray;
}

.info{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

}
.address_phone{
  color:white;
  font-family: arial;
  font-size: 18px;
  text-align: center;
}
.map{
  padding: 0px,10px;
  flex:1;
}

.cell_row_info{
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-content: center; 
}
.social_media{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}
.title2 h1{
  color:dodgerblue;
  text-align: center;
  font-style: italic;
}

.title h1{
  color:black;
  text-align: center;
  font-style: italic;
}



.appt_footer{
  flex:0;
  text-align: right;
}


.social_media{
  background: rgb(244, 250, 248);
}
.social_media h1{
  text-align: center;
}

.sm_logos_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 100px;
}
.logos{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  width: 100px;
}
.footer_section{
    background: rgb(244, 250, 248);
}

.footer_section p{
  padding: 20px;
  font-size: 8px;
  font-family: sans-serif;
  text-align: center;
}
.sm_group{
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content{
  background: url("https://files.slack.com/files-pri/T039C2PUY-F6CEF2SE9/bigstock-man-getting-trendy-haircut-in--172696487.jpg");
  background-color: gray;
  height:900px;
}
.content h1{
  /* color: white; */
  text-align: center;
  font-size: 70px;
  font-family:'Tangerine';
  font-weight: bolder;

}

.apptSet{
  font-family: arial;
  font-size: 19px;
  text-align: center;

  background-color:rgba(0,0,0,0.5);;
  
}
.loginForm{
  color:white;
  background-color:rgba(0,0,0,0.5);;
  font-size: 19px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  
}

h2{
  text-align: center;
}
.bookNow{
  color:white;
  background-color:rgba(0,0,0,0.5);;
}

.apptNewCust{
  display: flex;
  flex-direction: column; 
  justify-content: center;  

  
   
}
.regForm{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color:rgba(0,0,0,0.6);;
  font-size: 25px;
  display: flex;
  flex-direction: column; 
  align-items: center;  
}